<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Authentication - Books</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link href="css/global.css" rel="stylesheet"/>
    <link href="css/jquery.autocomplete.css" rel="stylesheet"/>
    <link href="css/jquery-ui.min.css" rel="stylesheet"/>

</head>
<body id="authentication">

<p id="back-top"><a href="#top"><span></span></a></p>
<div id="wrapper1">
    <div id="wrapper2">
        <div id="wrapper3">

            <th:block th:include="fragments :: header">
            </th:block>
            <div id="columns">

                <th:block th:include="fragments :: left_column">
                </th:block>

                <div id="center_column" class="center_column">

                    <div class="breadcrumb bordercolor">
                        <div class="breadcrumb_inner">
                            <a href="/"
                               title="return to Home" th:text="#{header.home}"></a><span class="navigation-pipe">&gt;</span><span
                                class="navigation_page" th:text="#{log.in}"></span></div>
                    </div>

                    <h1 th:text="#{log.in}"></h1>
                    <span></span>
                    <form action="create" method="post" id="create-account_form" class="std">
                        <fieldset>
                            <h3 th:text="#{create.account}"></h3>
                            <h4 th:text="#{create.account.text}"></h4>
                            <p class="text">
                                <label for="email_create" th:text="#{email.address}"></label>
                                <input type="text" id="email_create" name="email" value=""
                                       class="account_input"/>
                            </p>
                            <p class="text">
                                <label for="email_create" th:text="#{password}"></label>
                                <input type="password" id="password_create" name="password" value=""
                                       class="account_input"/>
                            </p>
                            <p class="text">
                                <label for="email_create" th:text="#{password.confirm}"></label>
                                <input type="password" id="confirm_password" name="confirm_password" value=""
                                       class="account_input"/>
                            </p>
                            <p class="submit">
                                <input id="submit_create" name="submit_create" class="button_large"
                                    th:value="#{create.account.submit}"/>
                            </p>
                        </fieldset>
                    </form>
                    <form action="spring_security_check" method="post" id="login_form" class="std">
                        <fieldset>
                            <h3 th:text="#{already.registered}"></h3>
                            <p class="text">
                                <label for="username" th:text="#{email.address}"></label>
                                <input type="text" id="username" name="username" value="" class="account_input"/>
                            </p>
                            <p class="text">
                                <label for="password" th:text="#{password}"></label>
                                <input type="password" id="password" name="password" class="account_input"/>
                            </p>
                            <p class="submit">
                                <input type="hidden" class="hidden" name="back"/> <input
                                    type="submit" id="SubmitLogin" name="SubmitLogin" class="button"
                                    th:value="#{log.in}"/>
                            </p>
                            <p class="lost_password"><a
                                    href="restore" th:text="#{forgot.password}"></a></p>
                        </fieldset>
                    </form>
                    <div class="clearblock"></div>
                </div>

                <div class="clearblock"></div>
            </div>
        </div>
        <th:block th:include="fragments :: footer">
        </th:block>
    </div>
</div>
<script type="text/javascript" src="js/jquery-1.4.4.min.js"/>
<script type="text/javascript" src="js/jquery.easing.1.3.js"/>
<script type="text/javascript" src="js/tools.js"/>
<script type="text/javascript" src="js/ajax-cart.js"/>
<script type="text/javascript" src="js/treeManagement.js"/>
<script type="text/javascript" src="js/jquery.autocomplete.js"/>
<script type="text/javascript" src="js/cookies.js"/>
<script type="text/javascript" src="js/script.js"/>
<script type="text/javascript" src="js/jscript_xjquery.jqtransform.js"/>
<script src="js/jquery-1.11.0.min.js"></script>
<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/jquery.noty.packaged.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/my.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var categories = [[${categoryList}]];
    var email = [[${email}]];
    var userId = [[${userId}]];
    var locale = [[${#locale}]].ISO3Language;
    var welcomeMessage = [[#{welcome.message}]];
    var login = [[#{log.in}]];
    var logout = [[#{log.out}]];
    $(function () {
        resolveLocale(locale)
        initUserCred(email, userId, welcomeMessage, login, logout);
        activateDatePicker();
        initCategories(categories);
    });
    /*]]>*/

</script>
</body>
</html>
