<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Books</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="css/global.css" rel="stylesheet"/>
    <link href="css/jquery.autocomplete.css" rel="stylesheet"/>
    <link href="css/jquery-ui.min.css" rel="stylesheet"/>

</head>
<body id="index">
<p id="back-top"><a href="#top"><span></span></a></p>
<div id="wrapper1">
    <div id="wrapper2">
        <div id="wrapper3">
            <th:block th:include="fragments :: header">
            </th:block>

            <div id="columns">
                <th:block th:include="fragments :: left_column">
                </th:block>
                <div id="center_column" class="center_column">

                    <div id="featured_products">
                        <div id="book-list" class="block_content">
                            <ul>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="clearblock"></div>
            </div>
        </div>
        <th:block th:include="fragments :: footer">
        </th:block>
    </div>
</div>
<script src="js/jquery-2.2.2.min.js"/>
<script src="js/jquery.easing.1.3.js"/>
<script src="js/tools.js"/>
<script src="js/ajax-cart.js"/>
<script src="js/tree-management.js"/>
<script src="js/jquery.autocomplete.js"/>
<script src="js/cookies.js"/>
<script src="js/script.js"/>
<script src="js/jscript_xjquery.jqtransform.js"/>
<script src="js/jquery-1.11.0.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/my.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var categories = [[${categoryList}]];
    var books = [[${bookList}]];
    var downloadLink = [[${@environment.getProperty('file.service.url')}]];
    var email = [[${email}]];
    var userId = [[${userId}]];
    var locale = [[${#locale}]].ISO3Language;
    var welcomeMessage = [[#{welcome.message}]];
    var login = [[#{log.in}]];
    var logout = [[#{log.out}]];
    var downloadMessage = [[#{download}]];

    $(function () {
        $('#main_page').attr('class', 'active')
        resolveLocale(locale)
        initUserCred(email, userId, welcomeMessage, login, logout);
        activateDatePicker();
        initCategories(categories);
        initMainPageBooks(books, downloadLink, userId, downloadMessage);
    });
    /*]]>*/
</script>

</body>
</html>
